<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <link th:href="@{../../css/github-markdown.css}" rel="stylesheet">
    <script>
        function check_confirm() {
            return confirm("삭제하시겠습니까?");
        }
    </script>
</head>

<body id="page-top">
<!-- Navigation -->
<th:block th:include="fragments/nav"></th:block>

<div class="masthead container px-5">
    <div class="row mx-5 px-5 mb-2" style="font-weight: normal">
        <h3 th:text="${content.getTitle()}"></h3>
    </div>
    <div class="row mx-5 px-5" style="font-size: small; color: gray">
        <div class="col-xs-2">
            <a>작성일&nbsp;&nbsp;</a>
            <!-- <img class="thumb-crop" th:src="@{../img/sp_com.png}" width="50px" height="50px"> -->
        </div>
        <div class="col-xs-2 mr-3">
            <a th:text="${content.getRegdate()} ? ${#temporals.format(content.getRegdate(), 'yyyy-MM-dd HH:mm')} : ${content.getRegdate()}"></a>
        </div>
        <div class="col-xs-2">
            <a>조회수&nbsp;&nbsp;</a>
            <!-- <img th:src="@{../img/sp_com.png}" width="50pxn" height="50px"> -->
        </div>
        <div class="col-xs-2">
            <a th:text="${content.getViewcount()}"></a>
        </div>
        <div class="col text-right" style="color: black">
            <a th:text="${content.getUid()}" th:href="@{${'user/info'}(uid=${content.getUid()})}"></a>
        </div>
    </div>
    <hr>
    <div class="row mx-5 px-5 pt-3">
        <a th:utext="${content.getContent()}"></a>
    </div>
    <div class="row mt-4 mx-5 px-5 pt-3" th:if="${#authentication.getName() eq content.getUid()}">
        <!--    <div class="row mt-4 mx-5 px-5 pt-3" th:if="${(#request.getUserPrincipal() != null) and (${content.getUid()} eq #request.getUserPrincipal())}">-->
        <div class="col text-right">
            <a class="mr-2" th:href="@{'/blog/edit/' + ${content.getId()}}">
                <button class="btn btn-primary">수정</button>
            </a>
            <a onclick="return check_confirm();" th:href="@{'/blog/delete/' + ${content.getId()}}">
                <button class="btn btn-danger">삭제</button>
            </a>
        </div>
    </div>
</div>

<!-- Footer -->
<th:block th:include="fragments/footer"></th:block>
</body>
</html>