<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <link th:href="@{../css/custom-login.css}" rel="stylesheet">
    <link th:href="@{../css/freelancer.min.css}" rel="stylesheet">
    <link th:href="@{../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
<!-- Navigation -->
<th:block th:include="fragments/nav"></th:block>

<div class="masthead container">
    <form method="post" th:object="${contentForm}" th:action="@{/blog/new}" autocomplete="off">
        <div class="form-group mb-3">
            <label th:for="title">제목</label>
            <input type="text" class="form-control" th:field="*{title}" placeholder="제목을 입력해 주세요">
        </div>
        <div class="form-group mb-3">
            <label th:for="content">내용</label>
            <textarea class="form-control" rows="20" th:field="*{content}" placeholder="내용을 입력해 주세요"></textarea>
        </div>
        <div class="form-group" align="right">
            <input type="submit" value="저장" class="btn btn-primary">
        </div>
    </form>
</div>

<!-- Footer -->
<th:block th:include="fragments/footer"></th:block>
</body>
</html>