<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WYJAX Tech</title>

    <!-- Custom fonts for this theme -->
    <link rel="icon" th:href="@{/ico/wyjax_ico.ico}">
    <link th:href="@{/css/custom-login.css}" rel="stylesheet">
    <link th:href="@{/css/freelancer.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>